<div class="todo-item">
        <span class="todo-title" [ngClass]="{'todo-complete': item.completed}">

      <input type="checkbox"
             class="todo-checkbox"
             [(ngModel)]="item.completed"
             (click)="completeItem()"/>
             <span  *ngIf="!editable">
       {{item.title}}
             </span>
             <input type="text" [(ngModel)]="item.title" *ngIf="editable"/>
        


  
             
        </span>
        
      
  <button type="btn"   (click)="editable=!editable">
    {{editable ? "Save" : "Edit"}}
  </button>
  

      <button class="btn btn-red" (click)="removeItem()">
        remove
      </button>

        
        
    </div>