<div class="todo-item">
        <span class="todo-title" [ngClass]="{'todo-complete': item.completed}">

      <input type="checkbox"
             class="todo-checkbox"
             [(ngModel)]="item.completed"
             (click)="completeItem()"/>
             <span contenteditable="">
       {{item.title}}
             </span>
        


  
             
        </span>
        
  <!--        
  <button type="btn" (click)="editItem()">
    Edit
      

    </button>-->

      <button class="btn btn-red" (click)="removeItem()">
        remove
      </button>

        
        
    </div>